-
  stylesLink = "css/main.css"
  scriptLink = "js/script.js"

doctype html
html
  head
    meta(charset="utf8")
    title Tic-Tac-Toe
    link(rel="stylesheet" href=stylesLink)
    script(src=scriptLink)
  body
    main
      h1 Tic-Tac-Toe
      div(class="game-area" id="game-area")
        button(id="start-game") Start Game
